@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-rgb: 0, 0, 0;
  --color-darker-gray: #222222;
  --color-darker-gray-rgb: 34, 34, 34;
  --color-navy-blue: #102f54;
  --color-silver: #ececec;
  --color-gray: #3c3c3c;
  --color-gray-rgb: 60, 60, 60;
  --color-light-gray: #919eab;
  --color-light-gray-rgb: 145, 158, 171;
  --color-cool-gray: #727272;
  --color-light-gold: #cfc59d;
  --color-logo-blue: #003057;

  --transition: 0.3s cubic-bezier(0, 1, 0, 1);

  --search-grid-image-size: 150px;
  --search-grid-layout-gap: 16px;
  --search-grid-item--min-width: 320px;
  --search-grid-column-count: 2;
  --search-grid-item--max-width: calc(
    (100% - var(--search-grid-layout-gap)) / var(--search-grid-column-count)
  );
  --search-grid-layout-scroll: 332px;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-silver);
  color: var(--color-darker-gray);
  font-weight: var(--font-regular);
}

.main {
  padding: 0 20px;
  font-size: 14px;
  font-weight: var(--font-light);
}

.logo {
  display: inline-flex;
  object-fit: contain;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 55px auto;
  padding: 0 20px;
  width: 100%;
}

.search {
  background: var(--color-white);
  border-radius: 8px;
  position: relative;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 750px;
}

.search__components {
  width: 100%;
}

.search__component {
  position: relative;
}

.search__input {
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 30px;
  height: 45px;
  outline: none;
  padding: 13px 0;
  flex: 1 1 auto;
}

.search.active .search__input {
  border-radius: 5px 5px 0 0;
}

.search__input-label {
  color: var(--color-cool-gray);
  font-size: 14px;
  text-align: right;
  padding-right: 16px;
}

.search__input-holder {
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(var(--color-black-rgb), 0.08);
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr auto auto;
}

.search__input-prefix,
.search__input-affix {
  display: inline-flex;
  height: 100%;
}

.search__submit,
.search__reset {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  flex: 1 1 auto;
  justify-content: center;
  padding: 0 16px;
  text-align: center;
  transition: color var(--transition);
  width: auto;
}

.search__reset {
  color: var(--color-cool-gray);
}

.search__submit {
  color: var(--color-darker-gray);
}

.search__submit:not([hidden]),
.search__reset:not([hidden]) {
  display: inline-flex;
}

.search__submit:hover,
.search__reset:hover {
  color: var(--color-darker-gray);
}

.search__submit svg {
  width: 20px;
}

.search__reset svg {
  width: 14px;
}

/* Search filters */

.search__filters-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.search__filters-toggle,
.search__filters-clear {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  color: var(--color-darker-gray);
  cursor: pointer;
  display: inline-flex;
  line-height: 1;
  outline: none;
  transition: opacity var(--transition);
}

.search__filters-toggle:hover,
.search__filters-clear:hover {
  opacity: 0.8;
}

.search__filters-toggle {
  font-size: 14px;
}

.search__filters-toggle-icon {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transform: rotate(0deg);
  transition: transform var(--transition);
  width: 14px;
}

.search__filters-toggle-icon svg {
  width: 7px;
}

.search__filters-toggle-number {
  font-size: 12px;
  padding-left: 8px;
}

.search__filters-clear {
  font-size: 12px;
  text-align: right;
}

.search__filters-clear-icon {
  width: 14px;
}

.search__filters-clear-icon svg {
  width: 8px;
}

.search__filters-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition);
}

.search__filters-groups {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-bottom: 16px;
  padding: 0;
}

.search__filters-group-list {
  list-style: none;
  padding: 0 3.5px;
  margin: 0;
  columns: auto 2;
  column-gap: 6px;
  /* display: grid;
  gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); */
}

.search__filters-group-title {
  color: var(--color-navy-blue);
  font-size: 14px;
  font-weight: var(--font-bold);
  line-height: 1.1;
  margin-bottom: 10px;
  padding-top: 10px;
}

.search__filters-group-list-item {
  margin-bottom: 10px;
}

.search__filters--active .search__filters-container {
  max-height: 50vh;
}

.search__filters--active .search__filters-toggle-icon {
  transform: rotate(180deg);
}

/* Search results block */

.search__results-container {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 2px 16px 0px rgba(var(--color-black-rgb), 0.16);
  left: 0;
  transform: translateY(-6px);
  padding: 16px;
  position: absolute;
  top: 100%;
  width: calc(100% - 29px);
  margin: 0 9px 0 20px;
  will-change: transform;
}

.search__results-empty {
  color: rgba(var(--color-gray-rgb), 0.6);
  font-size: 16px;
  padding: 39px 20px;
  text-align: center;
  line-height: 1.175;
}

.search__results-empty-icon {
  margin-bottom: 28px;
  display: block;
  text-align: center;
}

.search__results-empty-icon svg {
  width: 38px;
}

.search__results {
  width: 100%;
}

.search__results-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.search__results-title {
  color: var(--color-darker-gray-rgb);
  font-size: 12px;
  font-weight: var(--font-regular);
}

.search__results-all {
  align-items: center;
  color: var(--color-darker-gray);
  display: inline-flex;
  font-size: 12px;
  line-height: 1.14;
  text-decoration: none;
}

.search__results-all-text {
  display: inline-block;
  overflow: hidden;
  text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search__results-all:hover .search__results-all-text {
  text-decoration: none;
}

.search__results-all-icon {
  padding-left: 7px;
  display: inline-flex;
  flex: none;
}

.search__results-all-icon svg {
  width: 8px;
}

.search__results-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      max(
        var(--search-grid-item--min-width),
        var(--search-grid-item--max-width)
      ),
      1fr
    )
  );
  gap: var(--search-grid-layout-gap);
  list-style: none;
  max-height: var(--search-grid-layout-scroll);
  overflow-y: auto;
  padding: 0;
  scrollbar-color: var(--color-darker-gray) var(--color-white);
  scrollbar-width: thin;
}

.search__results-list::-webkit-scrollbar {
  width: 3px;
}

.search__results-list::-webkit-scrollbar-thumb {
  background-color: var(--color-darker-gray);
  border-radius: 5px;
  border: none;
}

.search__results-list::-webkit-scrollbar-track {
  background: var(--color-white);
}

.search__results-list-link {
  color: var(--color-darker-gray);
  display: flex;
  gap: 8px;
  text-decoration: none;
  transition: opacity var(--transition);
}

.search__results-list-link:hover,
.search__results-list-link:focus {
  opacity: 0.8;
}

.search__results-list-picture {
  flex: none;
  height: var(--search-grid-image-size);
  width: var(--search-grid-image-size);
}

.search__results-list-image {
  aspect-ratio: 1/1;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.search__results-list-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-weight: var(--font-medium);
  justify-content: center;
}

.search__results-list-item-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: var(--font-medium);
}

.search__results-list-square-meter {
  font-size: 16px;
}

.search__results-list-square-package {
  color: rgba(var(--color-darker-gray-rgb), 0.5);
  font-size: 10px;
  line-height: 1;
}

/* Search common and Search recommendation */
.search__common {
  margin-bottom: 8px;
}

.search__common-title,
.search__recommendation-title {
  color: var(--color-darker-gray);
  font-size: 12px;
  font-weight: var(--font-regular);
}

.search__common-list,
.search__recommendation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 8px;
}

.search__common-list-item,
.search__recommendation-list-item {
  display: inline-flex;
}

.search__common-list-link,
.search__recommendation-list-link {
  color: var(--color-darker-gray);
  min-height: 30px;
  display: inline-block;
  padding: 7px 13px;
  transition: opacity var(--transition);
}

.search__common-list-link {
  background-color: var(--color-light-gold);
  border-radius: 4px;
  text-decoration: none;
}

.search__common-list-link:hover,
.search__recommendation-list-link:hover {
  opacity: 0.8;
}

/* Checkbox style */
.search__checkbox {
  align-items: start;
  color: var(--color-darker-gray);
  cursor: pointer;
  display: grid;
  font-size: 12px;
  gap: 3px;
  grid-template-columns: 15px auto;
  line-height: 1;
  transition: opacity var(--transition);
}

.search__checkbox:hover {
  opacity: 0.8;
}

.search__checkbox--disabled {
  color: var(--color-light-gold);
  cursor: not-allowed;
  pointer-events: none;
}

.search__checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-white);
  border-radius: 4px;
  border: 1px solid var(--color-darker-gray);
  color: currentColor;
  cursor: pointer;
  display: grid;
  font: inherit;
  height: 15px;
  margin: 0;
  place-content: center;
  transform: translateY(-0.075em);
  width: 15px;
}

.search__checkbox input[type="checkbox"]::before {
  background-color: var(--color-white);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  content: "";
  height: 0.65em;
  transform-origin: bottom left;
  transform: scale(0);
  transition: transform var(--transition);
  width: 0.65em;
}

.search__checkbox input[type="checkbox"]:checked {
  background-color: var(--color-darker-gray);
  color: var(--color-white);
}

.search__checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.search__checkbox input[type="checkbox"]:disabled {
  color: var(--color-light-gray);
  cursor: not-allowed;
}

/* General */

[hidden] {
  display: none !important;
}
